<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>復号ツール</title>
</head>

<body>
  <div id="app">
    <v-app dark>
      <v-toolbar app>
        <v-toolbar-title>復号ツール</v-toolbar-title>
      </v-toolbar>
      <v-content>
        <v-container fluid>
          <v-layout column>
            <v-flex xs12>
              <v-card>
                <v-card-title primary-title>暗号化情報</v-card-title>
                <v-card-text>
                  <v-flex>
                    <v-text-field label="暗号キー" v-model="encryptInfo.encryptKey" full-width outline></v-text-field>
                    <v-select label="暗号利用モード" :items="['CBC', 'CFB', 'ECB']" v-model="encryptInfo.mode"></v-select>
                    <v-select label="パディング方式" :items="['Pkcs7', 'NoPadding']" v-model="encryptInfo.padding"></v-select>
                    <v-checkbox v-model="encryptInfo.isBase64Encoded" label="暗号化文字列はBASE64でエンコードされていますか？"></v-checkbox>
                  </v-flex>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 mt-3>
              <v-card>
                <v-card-title>
                  復号文字列
                </v-card-title>
                <v-card-text>
                  <v-data-table :headers="headers" :items="items" class="elevation-1" hide-actions>
                    <template v-slot:items="props">
                      <td>{{props.item.no}}</td>
                      <td>{{props.item.input}}</td>
                      <td>{{props.item.output}}</td>
                      <td class="justify-center layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)">
                          edit
                        </v-icon>
                        <v-icon small @click="deleteItem(props.item)">
                          delete
                        </v-icon>
                      </td>
                    </template>
                  </v-data-table>
                </v-card-text>
                <v-card-actions>
                  <v-btn color="primary" @click="decrypt">復号</v-btn>
                  <v-btn color="primary" @click="encrypt">暗号化</v-btn>
                  <v-btn>クリア</v-btn>
                  <v-spacer></v-spacer>
                  <v-btn color="success" @click="open">New Item</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
            <v-dialog v-model="dialog" max-width="50%">
              <v-card>
                <v-card-text>
                  <v-container fill-height fluid>
                    <v-flex xs12>
                      <v-text-field v-model="editedItem.input" label="暗号化文字列" full-width outline></v-text-field>
                      <v-text-field v-model="editedItem.output" label="復号文字列" full-width outline></v-text-field>
                    </v-flex>
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                  <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-layout>
        </v-container>
      </v-content>
      <v-footer app></v-footer>
    </v-app>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-polyfills/0.1.42/polyfill.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9/core.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9/evpkdf.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9/enc-base64.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9/aes.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

  <script>

    const createDecryptOption = (encryptInfo) => {

      // default options.
      let mode = CryptoJS.mode.CBC;
      let pad = CryptoJS.pad.Pkcs7;
      let requireIv = true;

      // select block cipher modes
      if (encryptInfo.mode == 'CFB') { mode = CryptoJS.mode.CFB; requireIv = true; };
      if (encryptInfo.mode == 'ECB') { mode = CryptoJS.mode.ECB; requireIv = false; };

      // select padding
      if (encryptInfo.padding == 'NoPadding') padding = CryptoJS.pad.NoPadding;

      const options = { mode, pad };

      // require initialization vector ?
      if (requireIv) {
        options['iv'] = encryptInfo.encryptKey;
      }

      return options;
    };

    const decription = (encryptedText, encryptKey, isBase64Encoded, options) => {

      if (isBase64Encoded) {
        encryptedText = CryptoJS.enc.Base64.parse(encryptedText);
      }

      const decrypted = CryptoJS.AES.decrypt(encryptedText, encryptKey, options);
      return decrypted.toString(CryptoJS.enc.Utf8);
    };

    const encryption = (plainText, encryptKey, isBase64Encod, options) => {

      let encrypted = CryptoJS.AES.encrypt(plainText, encryptKey, options);

      if (isBase64Encod) {
        return CryptoJS.enc.Base64.stringify(encrypted.toString());
      }

      return encrypted.toString();
    }

    new Vue({
      el: "#app",
      data: {
        items: [],
        nextNo: 0,
        dialog: false,
        editedItem: { no: -1, input: "", output: "" },
        encryptInfo: {
          encryptKey: '2vNDVuwb9JiMj67J',
          mode: 'CBC',
          padding: 'Pkcs7',
          isBase64Encoded: true,
        },
        headers: [
          { text: "No", value: "no", sortable: false },
          { text: "暗号化文字列", value: "input", sortable: false },
          { text: "平文", value: "output", sortable: false },
          { text: "操作", value: "no", sortable: false }
        ]
      },
      methods: {
        editItem(item) {
          this.editedItem = item;
          this.dialog = true;
        },
        save() {
          if (this.editedItem.no >= 0) {
            Object.assign(this.items[this.editedItem.no], this.editedItem);
          } else {
            this.editedItem.no = this.nextNo;
            this.nextNo++;
            this.items.push(this.editedItem);
          }
          this.close();
        },
        deleteItem(deleteItem) {
          const index = this.items.indexOf(deleteItem);
          confirm(`No.${index} を削除しますか?`) && this.items.splice(index, 1);
        },
        open() {
          this.dialog = true;
        },
        close() {
          this.dialog = false;
          this.editedItem = { no: -1, input: "", output: "" };
        },
        encrypt() {
          const options = createDecryptOption(this.encryptInfo);
          for(item in this.items) {
            const newItem = item;
            newItem.input = encryption(newItem.output, this.encryptInfo.encryptKey, this.encryptInfo.isBase64Encoded, options);
            Object.assign(this.items[newItem.no], newItem);
          }
        },
        decrypt() {
          const options = createDecryptOption(this.encryptInfo);
          this.items.forEach(item => {
            item.output = decription(item.input, this.encryptInfo.encryptKey, this.encryptInfo.isBase64Encoded, options)
          });
        },
        clear() {
          this.items = [];
        }
      },
      mounted() {

      }
    });
  </script>
</body>

</html>